<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show':showModal}">
    <div class="modal-dialog">
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title" id="showtitle" >Info Sponsor</h4>
                </div>
                <div class="modal-body">
                    <p class="infoaccount">{{ grat.name }}</p>
                </div>
                <div class="modal-footer">
                    <!-- <app-grats-detail [grat]="grat"></app-grats-detail> -->
                    <button class="btn btn-warning" data-toggle="modal" data-target="#myModal" (click)="modal.close()" >close</button>                 
                </div>
            </ng-template>
    </div>
</div>
<button class="btn btn-success" style="float: right;" (click)="openModal(content)">Show</button>
