<div class="container-fluid page">
    <div class="row no-gutters">
      <!--SIDEBAR-->
      <app-sidebar class="col-3 sidebar"></app-sidebar>
      <!--END SIDEBAR-->

      <!--    ADMIN COMPONENT CONTENT-->

      <div class="col-9  admin">
        <button type="button" class="btn-custom2 btn" (click)="refresh()"><i class="pi pi-replay"></i></button><h1>Liste des administrateurs</h1>
<!--         message flash -> affiche les infos lors de la création d'un compte-->
        <ng-flash-message></ng-flash-message>

  <!--      FORMULAIRE DE CRÉATION D'UN ADMIN-->
          <form [formGroup]="adminForm" class="form-inline justify-content-center">
          <input class="form-control" formControlName="email" name="email" type="email" placeholder="E-mail" ngModel [email]="true">

          <input class="form-control" formControlName="password" name="password" type="text" placeholder="Password">
<!--            BUTTON DISABLED TANT QUE LE FORMULAIRE N'EST PAS VALIDÉ-->
          <button type="button" class="btn btn-custom1" (click)="addAdmin(adminForm.value)" [disabled]="adminForm.controls['email' || 'password'].invalid" >Créer un administrateur</button>
          </form>
<!--        AFFICHAGE DES INFOS DE VALIDATION DE CHAMPS-->
        <div *ngFor="let validation of validationMessage.email">
          <div class="alert-danger"  *ngIf="adminForm.get('email').hasError(validation.type) && (adminForm.get('email').dirty || adminForm.get('email').touched)">{{validation.message}}</div>
        </div>
        <div *ngFor="let validation of validationMessage.password">
          <div class="alert-danger"  *ngIf="adminForm.get('password').hasError(validation.type) && (adminForm.get('password').dirty || adminForm.get('password').touched);">{{validation.message}}</div>
        </div>

  <!--      LISTE DES COMPTES ADMIN-->
       <div class="adminList">
         <ul>
           <li *ngFor="let admin of admins; let odd = odd" [class.odd]="odd">{{admin.email}}</li>
         </ul>
       </div>
      </div>
    </div>
  </div>
