h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3b4151;
}
.btn-custom1 {
  background-color: #FEA347;
  border-color: #999999;
  border-width: medium;
  color: #3b4151;
}
.btn-custom2 {
  color: #FEA347;
  border-color: #FEA347;
  border-color: #999999;
}
.adminList {
  margin-top: 40px;
  text-decoration: none;
  width: auto;
}
li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  width: 80%;
  align-content: center;
  margin: auto;
  background-color: rgba(80, 80, 80, 0.7);
  color: white;
  font-weight: bold;
}
.odd {
  background-color: rgba(190, 190, 190, 0.7);
  color: #3b4151;
}
.alert-danger {
  text-align: center;
  padding: 10px;
  width: 60%;
  align-content: center;
  margin: auto;
}

