.list:nth-child(even) {
    background-color: orangered;
}

.list:nth-child(odd) {
    background-color: rgb(247, 143, 7);
}

h6{
    display: inline-block;
    font-weight: bolder;
    color: #fff;
}

#createtitle{
    text-align: center;
    font-weight: bolder;
}

#btnCreate{
    background-color: darkorange;
    color: #fff; float: left;
    margin: 0;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

#btnNew{
    margin: 0;
    color: #fff;
    float: left;
    background-color: darkorange;
}

#btnNew:hover{
    background: orangered;
}

.list{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.show.modal{
    display: block;
}

.modal-dialog{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

#myModal{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.createSponsor{
    text-align: center;
    font-weight: bolder;
}

.btn-custom1 {
  background-color: #FEA347;
  border-color: #999999;
  color: #3b4151;
}
.btn-custom2 {
  background-color: #999999;
  border-color:  #FEA347;
  color: #303030;
}
.filtre-card {
  background-color: #FEA347;
  opacity: 0.8;
}
tr {
  text-align: center;
  padding: 10px;
  width: 80%;
  align-content: center;
  margin: auto;
  background-color: rgba(80, 80, 80, 0.7);
  color: white;
  font-weight: bold;
}
.odd {
  background-color: rgba(190, 190, 190, 0.7);
  color: #3b4151;
}
