<div class="container-fluid page">
  <div class="row no-gutters">
    <!--SIDEBAR-->
    <app-sidebar class="col-3 sidebar"></app-sidebar>
    <!--END SIDEBAR-->

<!--    ACCOUNT LIST-->
    <div class="col-9">
      <button (click)="refresh()" class="btn-custom2 btn" type="button"><i class="pi pi-replay"></i></button><h1>Liste des comptes utilisateurs</h1>

      <div class="select-filter container">
        <div class="row">
          <!--        affiche tous les accounts-->
          <button (click)="selectAll()" [hidden]="all" class="btn-custom1 btn" type="button">List All</button>
          <!--       affichage checkbox pour select status / type-->

            <!--          affiche / masque les checkbox-->
            <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="filtre"
                    class="btn btn-custom2" type="button">
              Filtrer
            </button>

          <form class="form-inline">
            <div class="input-group">
              <input [(ngModel)]="inputName" class="form-control" name="name" placeholder="recherche par nom ..." type="text">
              <span class="input-group-btn">
                    <button (click)="searchByName()" class="btn btn-custom2" type="submit">Rechercher</button>
                  </span>
            </div>
          </form>
          <button type="button" class="btn btn-custom2" (click)="getWaitingAccounts()">Comptes en attente</button>

        </div>
        <div [ngbCollapse]="isCollapsed" id="filtre">
          <div class="card col-8 float-left filtre-card">
            <div class="card-body row">
              <!--              TODO checkbox status (error / send)-->
              <div class="checkbox-status col-6">
                états des comptes :
                <div *ngFor="let stat of status; let i = index" class="custom-control custom-checkbox">
                  <input (change)="filterStatus(i)" [checked]="stat.select" class="custom-control-input" id="{{stat.name}}" type="checkbox">
                  <label class="custom-control-label" for="{{stat.name}}">{{stat.content}}</label>
                </div>
              </div>
              <!--              TODO checkbox type email (validation / facture / relance /compte bloqué / gratification)-->
              <div class="checkbox-type col-6">
                Recherche par type :
                <div *ngFor="let type of types; let j = index" class="custom-control custom-checkbox">
                  <input (change)="filterTypes(j)" [checked]="type.select" class="custom-control-input" id="{{type.name}}" type="checkbox">
                  <label class="custom-control-label" for="{{type.name}}">{{type.content}}</label>
                </div>
              </div>
            </div>
            <div class="row btn-filter">
              <button (click)="getFilterAccounts()" class="btn btn-custom2"type="button">Appliquer</button>
              <button (click)="unCheckedAll()" class="btn btn-custom1" type="button">Réinitialiser les filtres</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-4">
        <table class="table">
          <thead>
          <tr class="odd">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>Status</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr  *ngFor="let account of accounts; let odd = odd" [class.odd]="odd">
            <th>{{account.firstname}}</th>
            <th>{{account.lastname}}</th>
            <th>{{account.role}}</th>
            <th>{{account.status}}</th>
            <th><button type="button" class="btn btn-custom1" (click)="showDetail(account)"><i class="pi pi-arrow-right"></i></button></th>
          </tr>
          </tbody>
        </table>
        <th><app-account-detail-sponsor [roleClicked]= roleClicked  [account]="accountClicked" [hidden]="true"></app-account-detail-sponsor></th>
<!--        <th><app-account-detail-user  [roleClicked] = roleClicked [hidden]="true"></app-account-detail-user></th>-->
<!--        <th><app-account-detail-trader   [roleClicked] = roleClicked [hidden]="true"></app-account-detail-trader></th>-->
      </div>
<!--      <app-account-unit *ngFor="let account of accounts" [account]="account" class="list">-->
<!--      </app-account-unit>-->
<!--      <app-account-create-update-sponsor (addsponsor)="addsponsor($event)"></app-account-create-update-sponsor>-->
    </div>
  </div>
</div>
