<div class="container content col-12" align="center">
  <div class="container-fluid logo col-xs-10 col-lg-6">
<!--    LOGO OPENUP-->
    <img src="../../../assets/logo/openup-logo2.png">
  </div>
<!--FORMULAIRE DE CONNEXION-->
  <form [formGroup]="loginForm" class="form-login mt-5 col-lg-4 col-md-6">
    <h1>Sign In</h1>
<!--    MESSAGE FLASH (info si erreur de connexion)-->
    <ng-flash-message></ng-flash-message>
    <div class="form-group mt-3">
      <label for="login">E-mail</label>
    <input id="login" class="form-control" formControlName="email" type="email" name="email" placeholder="email" value="admin@openup.com">
    </div>
    <div class="mt-4 mb-2">
      <label for="login">Password</label>
    <input id="password" class="form-control" formControlName="password" type="password" placeholder="mot de passe" value="admin">
    </div>
    <button type="button" (click)="login(loginForm.value)" class="btn btn-outline-warning btn-custom mt-5">Sign In</button>
  </form>
</div>
