.content {
  background-color: darkorange;
  width: 100%;
  height: 100%;
  color: white;
  padding-bottom: 2%;
  margin-bottom: 0%;
  background-image: url(../../../assets/bicycle-1209682_1920.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 75%;
}
img {
  width: 90%;
  height: auto;
  margin-top: -5%;
}
.btn-custom {
  display: block;
  margin : auto;
  color: darkorange;
  border-color: darkorange;
  background-color: white;
  margin: auto;
}
.btn-custom:hover {
  color: white;
  border-color: white;
  background-color: darkorange;
}

