<div class="container-fluid page">
  <div class="row no-gutters">
<!--SIDEBAR-->
    <app-sidebar class="col-3 sidebar"></app-sidebar>
<!--END SIDEBAR-->

<!--    HOME COMPONENT CONTENT-->
    <div class="col-9 email">
      <button type="button" class="btn-custom2 btn" (click)="refresh()"><i class="pi pi-replay"></i></button><h1>Liste des e-mails envoyés</h1>
<!--      div info => affiche des messages d'infos si besoin-->
      <div class="info alert-warning" [hidden]="!infoBoolean">{{info}}</div>
<!--      end div info-->

<!--      selection des filtre d'affichage des comptes-->
      <div class="select-filter container">
        <div class="row">
          <!--        affiche tous les mails-->
          <button type="button" (click)="selectAll()" class="btn-custom1 btn" [hidden]="all">List All</button>
          <!--       affichage checkbox pour select status / type-->

            <!--          affiche / masque les checkbox-->
            <button type="button" class="btn btn-custom2" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="filtre">
              Filtrer
            </button>
          <form class="form-inline">
            <div class="input-group">
              <input type="text" name="email" [(ngModel)]="inputEmail" class="form-control" placeholder="recherche par email ...">
              <span class="input-group-btn">
            <button type="submit" class="btn btn-custom2" (click)="searchByEmail()">Rechercher</button>
          </span>
            </div>
          </form>
        </div>
        <div id="filtre" [ngbCollapse]="isCollapsed">
          <div class="card col-8 float-left filtre-card">
            <div class="card-body row">
<!--              TODO checkbox status (error / send)-->
              <div class="checkbox-status col-6">
                Statut d'envoi des mails
                <div class="custom-control custom-checkbox" *ngFor="let stat of status; let i = index">
                  <input type="checkbox" class="custom-control-input" id="{{stat.name}}" (change)="filterStatus(i)" [checked]="stat.select">
                  <label class="custom-control-label" for="{{stat.name}}">{{stat.content}}</label>
                </div>
              </div>
<!--              TODO checkbox type email (validation / facture / relance /compte bloqué / gratification)-->
              <div class="checkbox-type col-6">
                Type de mail
                <div class="custom-control custom-checkbox" *ngFor="let type of types; let j = index">
                  <input type="checkbox" class="custom-control-input" id="{{type.name}}" (change)="filterTypes(j)" [checked]="type.select">
                  <label class="custom-control-label" for="{{type.name}}">{{type.content}}</label>
                </div>
              </div>
            </div>
            <div class="row btn-filter">
              <button type="button" class="btn btn-custom1"(click)="getFilterEmails()">Appliquer</button>
              <button type="button" class="btn btn-custom2"(click)="unCheckedAll()">Réinitialiser les filtres</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid list-mails mt-4">
        <table class="table">
          <thead>
          <tr class="odd">
            <th>Date</th>
            <th>E-mail</th>
            <th>Type</th>
            <th>Status</th>
          </tr>
          </thead>
        <tbody>
        <tr *ngFor="let email of emails; let odd = odd" [class.odd]="odd">
          <td>{{email.createdAt | date : 'dd-mm-yyyy hh:mm:ss'}}</td>
          <td>{{email.email}}</td>
          <td>{{email.type}}</td>
          <td>{{email.status}}</td>
        </tr>
        </tbody>
        </table>
      </div>
    </div>

    </div>
  </div>
