.col {
  margin: 0px;
  padding: 0;
  width: 100%;
}
p{
  margin: 0px;
  padding: 0;
}

.select-filter {
  margin-right: 20px;
}

.btn-filter {
  display: block;
  margin : auto;
}
.filtre-card {
  background-color: #FEA347;
  opacity: 0.8;
}

tr {
  text-align: center;
  padding: 10px;
  width: 80%;
  align-content: center;
  margin: auto;
  background-color: rgba(80, 80, 80, 0.7);
  color: white;
  font-weight: bold;
}
.odd {
  background-color: rgba(190, 190, 190, 0.7);
  color: #3b4151;
}
.btn-custom1 {
  background-color: #FEA347;
  border-color: #999999;
  color: #3b4151;
}
.btn-custom2 {
  background-color: #999999;
  border-color:  #FEA347;
  color: #303030;
}
