<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Messages de {{user.account.firstname}} {{user.account.lastname}}</h4>
    <ng-flash-message></ng-flash-message>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="response container">

    <app-liste-msg [conversation] = "messages"></app-liste-msg>


       <form>
         <div class="form-group">
           <div class="md-form">
             <textarea id="form10" [(ngModel)]="msgToSend" name="input" class="md-textarea form-control" rows="3"></textarea>
             <label for="form10">  <i class="pi pi-pencil"></i>Votre message</label>
           </div>
           <button type="button" class="btn btn-custom1" (click)="send()">Send <i class="pi pi-angle-double-right"></i></button>
         </div>
       </form>

    </div>
  </div>
</ng-template>

<button class="btn btn-sm btn-warning" (click)="open(content)"><i class="pi pi-comments"></i></button>



<pre>{{closeResult}}</pre>
