.home-page{
  padding: 0;
  min-height: 100vh;
}
.home-page::after {
  content: "";
  background: url(../../../assets/bicycle-1209682_1920.jpg);
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.col {
  margin: 0px;
  padding: 0;
  width: 100%;
}
p{
  margin: 0px;
  padding: 0;
}

h3{
  text-align: center;
}
.home {
margin-top: 30px;
}
.graphik {
  padding-bottom: 20px;
}
