<div class="container-fluid home-page" >
  <div class="row no-gutters">

      <app-sidebar class="col-3 sidebar"></app-sidebar>

    <div class="col-9 home container">
     <div class="row">
<!--        CHARTS ORDER STATUS-->
        <div class="order col-6">
          <h3>Les commandes ...</h3>
          <div class="loader row justify-content-center align-self-center " [hidden]="loader">
            <p-progressSpinner class="spinner "></p-progressSpinner>
          </div>
          <p-chart id="ordercharts" type="doughnut" [data]="data1" class="col-4" [hidden]="!loader"></p-chart>
        </div>
<!--        ACCOUNT USER / TRADER BY STATUS CHART-->
        <div class="account col-6">
          <h3>Les comptes utilisateurs ...</h3>
          <div class="loader row justify-content-center align-self-center " [hidden]="loader2">
            <p-progressSpinner class="spinner "></p-progressSpinner>
          </div>
          <p-chart id="accountcharts" type="doughnut" [data]="data2" class="col-4" [hidden]="!loader2"></p-chart>
        </div>
      </div>
<!--      GRAPHIQUE COMMANDES CLOSED / REFUND-->
      <div class="row justify-content-center align-self-center">
        <div class="graphik col-5 ">
<!--                    <p-toast [style]="{marginTop: '80px'}"></p-toast>-->
          <p-chart type="line" [data]="data" (onDataSelect)="selectData($event)" ></p-chart>
        </div>
      </div>
    </div>
  </div>
</div>
