<div class="container">    
    <table class="table table-striped">
        <tr>
            <th>List grats items</th>
        </tr>
        <tr class="list" *ngFor="let grat of grats">
            <td><h6>{{ grat.name }}</h6></td>
            <td>
                <button class="btn btn-danger">Delete</button>
                <app-grats-detail [grat]="grat"></app-grats-detail>
            </td>
        </tr>
    </table>
    <!-- <app-account-create-update-sponsor [grat]="grat"></app-account-create-update-sponsor> -->
</div>
<!-- <button class="btn btn-success" (click)="goGrats()">Voir grats</button> -->
