.list:nth-child(even) {
    background-color: orangered;
}

.list:nth-child(odd) {
    background-color: rgb(247, 143, 7);
}

h6{
    display: inline-block;
    font-weight: bolder;
    color: #fff;
}

.btn{
    float: right;
    margin: 1%;
}

#createtitle{
    text-align: center;
    font-weight: bolder;
}

#btnCreate{
    background-color: darkorange; 
    color: #fff; float: left; 
    margin: 0; 
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2); 
}

#btnNew{
    margin: 0; 
    color: #fff;
    float: left;
    background-color: darkorange; 
}

#btnNew:hover{
    background: orangered;
}

.list{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.show.modal{
    display: block;
}

.modal-dialog{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}

#myModal{
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.createSponsor{
    text-align: center;
    font-weight: bolder;
}