<div class="container-fluid page">
  <div class="row no-gutters">
    <!--SIDEBAR-->
    <app-sidebar class="col-3 sidebar"></app-sidebar>
    <!--END SIDEBAR-->

    <!--   MESSAGERIE COMPONENT CONTENT-->
    <div class="col-9 home">
      <button type="button" class="btn-light btn" (click)="refresh()"><i class="pi pi-replay"></i></button><h1 align="center">Messages "Sav"</h1>
      <ng-flash-message></ng-flash-message>
      <div class="container">
        <div class="row">
          <!--        affiche tous les mails-->
          <button type="button" (click)="ListeAll()" class="btn-success btn" [hidden]="all">List All</button>
          <!--       affichage checkbox pour select status / type-->
            <!--          affiche / masque les checkbox-->
            <button type="button" class="btn btn-warning" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="filtre">
              Recherche par ...
            </button>
            <button type="button" class="btn btn-warning" (click)="getUnRead()" [hidden]="archived">Messages non lu(s)</button>

          <button type="button" class="btn btn-dark float-right" (click)="selectAll()" [disabled]="!msg">Select All</button>
          <button type="button" class="btn btn-dark float-right" (click)="archive('archived')" [hidden]="archived">Archiver</button>
          <button type="button" class="btn btn-dark float-right" (click)="seeArchived()"[hidden]="archived">See Archived</button>
          <button type="button" class="btn btn-dark float-right" (click)="archive('read')"[hidden]="!archived">Récupérer le(s) message(s)</button>
        </div>
<!--        <div id="search" [ngbCollapse]="isCollapsed">-->
<!--          <div class="card col-6 float-left search-card">-->
<!--            <div class="card-body row">-->
<!--                        <div class="checkbox-status col-6">-->
<!--                Recherche par:-->
<!--                <div class="custom-control custom-checkbox" *ngFor="let type of types; let i = index">-->
<!--                  <input type="checkbox" class="custom-control-input" id="{{type.name}}" (change)="filterSearch(i)" [checked]="type.select">-->
<!--                  <label class="custom-control-label" for="{{type.name}}">{{type.content}}</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <form>-->
<!--              <div class="form-group row">-->
<!--                <div class="col-sm-10">-->
<!--                  <input type="text" class="form-control" id="inputSearch" placeholder="nom ou adresse mail" name="input" [(ngModel)]="inputSearch">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="form-group row">-->
<!--                <div class="col-sm-10 offset-sm-2">-->
<!--                  <button type="button" class="btn btn-success btn-filter"(click)="getSearchMsg()">rechercher</button>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--        FIN PARTIE FILTRES-->
<!--        LISTE MESSAGES-->
        <div class="container-fluid list-mails mt-4">
          <table class="table">
            <thead>
            <tr>
              <th>Id message</th>
              <th>Date</th>
<!--              <th>Nom Prénom utilisateur</th>-->
              <th>Conversation</th>
              <th><input type="checkbox" class="form-control-input" id="all"(change)="selectAll()" [checked]="selectAllMsg"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let msg of messages; let i = index" class="row-msg">
              <td>{{msg.id}}</td>
              <td>{{msg.createdAt | date: 'short'}}</td>
<!--              <td>{{msg.firstname}} {{msg.lastname}}</td>-->
              <td>Conversation {{msg.conversationId}}</td>
              <td><input type="checkbox" id="{{msg.id_user}}" (change)="selectMsg(i)" [checked]="msg.select"></td>
              <td><app-messagerie-conversation [id] = "msg.conversationId"></app-messagerie-conversation></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
      </div>
    </div>
  </div>

