<div class="container-fluid page">
  <div class="row no-gutters">
    <!--SIDEBAR-->
    <app-sidebar class="col-3 sidebar"></app-sidebar>
    <!--END SIDEBAR-->

    <!--    ORDERDETAIL COMPONENT CONTENT-->

<div class="col-9  orderDetail">
  <div class="form-inline">
    <button type="button" (click)="goList()" class="btn btn-custom2">retour à la liste des commandes</button>
    <button type="button" (click)="refund()" class="btn btn-custom1" [hidden]="refundBtn">rembourser la commande</button>
  </div>
  <ng-flash-message></ng-flash-message>
  <div [hidden]="dataOrder" class="alert-warning error">Erreur interne...</div>
 <div *ngIf="dataOrder">
   <h1>Detail de la commande numero: {{order[0].id}}</h1>
   <div class="container">
     <div class="row">
       <!--      {{order.created_at}}-->
       <div class="col-4"><b>Date:</b> {{order[0].created_at | date : 'dd-mm-yyyy hh:mm:ss'}}</div>
       <!--      {{order.status}}-->
       <div class="col-4"><b>Statut:</b> {{order[0].status}}</div>
       <!--      {{order.amount}}-->
       <div class="col-4"><b>Montant:</b> {{order[0].amount}}</div>
       <div class="col-4">
         <b>QrCode:</b> {{order[0].qrcode}}
       </div>
     </div>
   </div>
   <div class="container">
     <p-accordion [multiple]="true">
       <p-accordionTab>
         <p-header class="title" >Items</p-header>
         <div class="container data">
           <table class="table">
             <thead>
             <tr>
               <th>Id</th>
               <th>Nom</th>
               <th>Description</th>
               <th>Prix</th>
               <th>Quantité</th>
             </tr>
             </thead>
             <tbody>
             <tr *ngFor="let item of order">
               <td>{{item.itemId}}</td>
               <td>{{item.itemName}}</td>
               <td>{{item.itemDescription}}</td>
               <th>{{item.itemPrice}}</th>
               <th>{{item.quantity}}</th>
             </tbody>
           </table>
         </div>
       </p-accordionTab>
       <p-accordionTab>
         <p-header class="title" >Livré</p-header>
         <div class="container data">
           <div class="row">
             <div class="col-4"><b>Nom:</b> {{delivery[0].lastname}}</div>
             <div class="col-4"><b>Prénom: </b>{{delivery[0].firstname}}</div>
             <div class="col-4"><b>Téléphone:</b> {{delivery[0].phone}}</div>
           </div>
           <div class="row">
             <div class="col-6"><b>E-Mail:</b> {{delivery[0].email}}</div>
             <div class="col-6"><b>Solde Wallet:</b> {{delivery[0].balance_wallet}}</div>
           </div>
         </div>
       </p-accordionTab>
       <p-accordionTab [disabled]="!deliveryManExist">
         <p-header class="title" >Livreur</p-header>
         <div class="container data" *ngIf="deliveryManExist">
           <div class="row">
             <div class="col-4"><b>Nom:</b> {{deliveryMan[0].lastname}}</div>
             <div class="col-4"><b>Prénom:</b> {{deliveryMan[0].firstname}}</div>
             <div class="col-4"><b>Téléphone:</b> {{deliveryMan[0].phone}}</div>
           </div>
           <div class="row">
             <div class="col-6"><b>E-Mail:</b> {{deliveryMan[0].email}}</div>
           </div>
         </div>

       </p-accordionTab>
       <p-accordionTab>
         <p-header class="title" >Commerçant</p-header>
         <div class="container data">
           <div class="row">
             <div class="col-4"><b>Nom:</b> {{trader[0].lastname}}</div>
             <div class="col-4"><b>Prénom:</b> {{trader[0].firstname}}</div>
             <div class="col-4"><b>Téléphone:</b> {{trader[0].phone}}</div>
           </div>
           <div class="row">
             <div class="col-6"><b>Shop Name:</b> {{order[0].shopName}}</div>
             <div class="col-6"><b>E-Mail:</b> {{trader[0].email}}</div>
           </div>
         </div>
       </p-accordionTab>
     </p-accordion>
   </div>
 </div>
</div>
  </div>
</div>
