.error {
  padding: 6px;
}
.orderDetail {
  font-size: 20px;
}
.btn-custom1 {
  background-color: #FEA347;
  border-color: #999999;
  color: #3b4151;
}
.btn-custom2 {
  color: #FEA347;
  border-color: #FEA347;
  border-color: #999999;
}
.data {
  border-style: solid;
  border-color: #FEA347;
  padding: 10px;
  border-width: thin;
}
.title.ng-star-inserted {
  color: #FEA347;
}
#ui-accordiontab-0 {
  color: #FEA347;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
