/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

#btn-close {
  color: white;
  float: right;
  margin-right: auto;
  margin-top: auto;
}
#btn-close:hover {
  color: #FEA347;
  float: right;
  margin-right: auto;
  margin-top: auto;
}

.logo {
  width: 100%;
  margin: auto 0 auto auto;
}
.logo:hover {
  color: #FEA347;
}
img {
  width: 90%;
  height: auto;
}
.admin {
  color: #FEA347;
  padding: 10%;
  text-align: justify;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  /*width: 0;*/
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #708090;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.logout {
  align-items: center;
}
#icon-logout:hover,#lien-logout:hover {
  color: #FEA347;
}
a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.icon-menu {
  color: #999999;
}
/* Sidebar Styles */

.sidebar-nav {
  top: 0;
  width: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #303030;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  .btn-custom {
    color: #FEA347;
    border-color: #999999;
  }
}
