<!-- Sidebar -->
<div id="sidebar-wrapper" class="container" [hidden]="!show">

       <div class="container">
         <div class="logo row">
           <img src="../../../assets/logo/openup-logo2.png">
           <span>
            <i id="btn-close" (click)="showSidebar()" class="pi pi-times-circle mr-n5"></i>
          </span>
         </div>
       </div>
  <div class="container admin">
    <p>{{email}}</p>
  <p>Administrator</p>
  </div>
 <div class="menu container">
   <ul class="sidebar-nav">
     <li>
       <a (click)="goHome()">Home</a>
     </li>
     <li>
      <a (click)="goAccount()">Comptes <i  [hidden]="!notifAccount"class="pi pi-user-plus">{{newAccount}}</i></a>
     </li>
     <li>
       <a (click)="goOrder()">Commandes</a>
     </li>
     <li>
       <a (click)="goGrats()">Gratifications</a>
     </li>
     <li>
       <a (click)="goMessagerie()">Messagerie <i [hidden]="!notifMessage" class="pi pi-envelope">{{newMessage}}</i></a>
     </li>
     <li>
       <a (click)="goShopType()">Types de commerce</a>
     </li>
     <li>
       <a (click)="goEmail()">Email</a>
     </li>
     <li>
       <a (click)="goAdmin()">Comptes admin</a>
     </li>
   </ul>
   <div class="logout" (click)="logout()">
     <a href="#" id="lien-logout">
       <i id="icon-logout" class="pi pi-power-off" style="margin-top: 1.5em;"></i>
       Logout
     </a>
   </div>
 </div>
  </div>
  <!-- /#sidebar-wrapper -->
<div id="sidebar-open" [hidden]="!!show">
 <button type="button" class="btn btn-custom" (click)="showSidebar()"><i class="pi pi-bars"></i></button>
</div>


  <router-outlet></router-outlet>
