<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show':showModal}">
        <div class="modal-dialog">
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title" id="showtitle" >Info Trader</h4>
                    </div>
                    <div class="modal-body">
                        <p class="infoaccount">{{ account.firstname }}</p>
                        <p class="infoaccount">{{ account.lastname }}</p>
                        <p class="infoaccount">{{ account.email }}</p>
                        <p class="infoaccount">{{ account.role }}</p>
                        <p class="infoaccount">{{ account.status }}</p>
                        <p class="infoaccount">{{ account.password }}</p>
                        <p class="infoaccount">{{ account.phone }}</p>
                        <p class="infoaccount">{{ account.address_id }}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal" (click)="modal.close()" >close</button>                 
                    </div>
                </ng-template>
        </div>
    </div>
<button class="btn btn-success" style="float: right;" (click)="openModal(content)">Show</button>
