<!--Modal for creating Sponsor-->
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show':createModal}">
                <div class="modal-dialog">
            
                    <!-- Modal content-->
                    <div class="modal-content">
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" class="createSponsor">Create account</h4>
                            <button type="button" class="close" (click)="modal.close()" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form" method="POST"(ngSubmit)="onSubmit()">
                                <label>Firstname</label>
                                    <input class="createSponsor" name="firstname" [(ngModel)]="firstname"><br>
                                <label>Lastname</label>
                                    <input class="createSponsor" name="lastname" [(ngModel)]="lastname"><br>
                                <label>Email</label>
                                    <input class="createSponsor"  name="email" [(ngModel)]="email"><br>
                                <label>Password</label>
                                    <input class="createSponsor" name="password" [(ngModel)]="password"><br>
                                <label>Phone</label>
                                    <input class="createSponsor"  name="phone" [(ngModel)]="phone"><br>
                                <label>Name</label>
                                    <input class="createSponsor"  name="role" [(ngModel)]="role"><br>
                                <label>Status</label>
                                    <input class="createSponsor"  name="status" [(ngModel)]="status"><br>
                                <label>Address</label>
                                    <input class="createSponsor"  name="address" [(ngModel)]="address"><br>
                                <label>City</label>
                                    <input class="createSponsor"  name="city" [(ngModel)]="city"><br>
                                <label>Zipcode</label>
                                    <input class="createSponsor"  name="zipcode" [(ngModel)]="zipcode"><br>
                                <div>
                                    <input type="submit" class="btn btn-success" value="Submit">
                                </div>
                            </form>
                        </div>
                    </ng-template>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" (click)="openModal(content)">New account</button>
