<div class="messages">
  <div *ngFor="let msg of conversation, let odd = odd"
       [style.background-color]="!!odd ? '#FEA347' : '#999999'" [style.float]="!!odd ? 'right' : 'left' " class="msg container">
    <div class="row"><span class="date">{{msg.createdAt  | date: 'short'}}</span></div>
    <div class="row">{{msg.content}}</div>
  </div>
</div>
