<div class="container-fluid page">
  <div class="row no-gutters">
    <!--SIDEBAR-->
    <app-sidebar class="col-3 sidebar"></app-sidebar>
    <!--END SIDEBAR-->

    <!--    ORDER COMPONENT CONTENT-->
    <div class="col-9 order">
      <button type="button" class="btn-custom2 btn" (click)="refresh()"><i class="pi pi-replay"></i></button><h1>Liste des commandes</h1>
      <!--      div info => affiche des messages d'infos si besoin-->
      <div class="info alert-warning" [hidden]="!infoBoolean">{{info}}</div>
      <!--      end div info-->

      <!--      selection des filtre d'affichage des commandes et recherche par order/trader/user-->
      <div class="select-filter container">
        <div class="row">
          <!--        affiche toutes les commandes //// masqué si affichage de toute la liste-->
          <button type="button" (click)="selectAll()" class="btn-custom1 btn" [hidden]="all">List All</button>
          <!--          affiche / masque les checkbox-->
          <button type="button" class="btn btn-custom2" (click)="collapse('filterCollaps')"
                  [attr.aria-expanded]="!filterCollaps" aria-controls="filtre">
            Filtrer
          </button>
          <!--          affiche / masque les checkbox et la barre de recherche-->
          <button type="button" class="btn btn-custom2" (click)="collapse('isCollapsed2')"
                  [attr.aria-expanded]="!isCollapsed2" aria-controls="search">
            Recherche par ...
          </button>
        </div>
<!--        contient les checkbox pour recherche par status de commande-->
        <div id="filtre" [ngbCollapse]="filterCollaps">
          <div class="card col-5 float-left filtre-card">
            <div class="card-body row">
              <!--              TODO checkbox status (waiting, accepted, pickup, closed, canceled)-->
              <div class="checkbox-status col-6">
                Statut des commandes
                <div class="custom-control custom-checkbox" *ngFor="let stat of status; let i = index">
                  <input type="checkbox" class="custom-control-input" id="{{stat.name}}" (change)="filterStatus(i)" [checked]="stat.select">
                  <label class="custom-control-label" for="{{stat.name}}">{{stat.name}}</label>
                </div>
              </div>
            </div>
            <div class="row btn-filter">
              <button type="button" class="btn btn-custom1"(click)="getFilterOrder()">Appliquer</button>
              <button type="button" class="btn btn-custom2"(click)="unCheckedAll()">Réinitialiser les filtres</button>
            </div>
          </div>
        </div>
<!--affiche checkbox + input pour la recherche par id-->
          <div id="search" [ngbCollapse]="isCollapsed2">
            <div class="card col-6 float-left search-card">
              <div class="card-body row">
                <!--              TODO checkbox type (user / trader / order)-->
                <div class="checkbox-status col-6">
                  Recherche par id:
                  <div class="custom-control custom-checkbox" *ngFor="let type of types; let i = index">
                    <input type="checkbox" class="custom-control-input" id="{{type.name}}" (change)="filterSearch(i)" [checked]="type.select">
                    <label class="custom-control-label" for="{{type.name}}">{{type.content}}</label>
                  </div>
                </div>
              </div>
              <form>
                <div class="form-group row">
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputSearch" placeholder="numero / id de la commande ou du compte" name="inputid" [(ngModel)]="inputId">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-10 offset-sm-2">
                    <button type="button" class="btn btn-custom1 btn-filter"(click)="getSearchOrder()">rechercher</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        <div><ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" class="justify-content-center align-self-center"></ngx-loading></div>
        </div>


<!--affichage de la liste des commandes-->
    <div class="container-fluid list-orders mt-4">
      <table class="table">
        <thead>
        <tr class="odd">
          <th>Id</th>
          <th>Date</th>
          <th>Status</th>
          <th>Livré</th>
          <th>Livreur</th>
          <th>Commerçant</th>
          <th>Montant</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders; let i = index; let odd = odd" [class.odd]="odd">
          <td>{{order.id}}</td>
          <td>{{order.created_at | date : 'dd/mm/yyyy/ hh:mm:ss'}}</td>
          <td>{{order.status}}</td>
          <th>{{order.deliveryId}}</th>
          <th>{{order.deliveryManId}}</th>
          <th>{{order.traderId}}</th>
          <td>{{order.amount}}</td>
          <td><button type="button" class="btn btn-custom1"(click)="getOrderDetail(order)">Detail</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>

