<!--Modal for creating Sponsor-->
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show':createModal}">
                <div class="modal-dialog">
            
                    <!-- Modal content-->
                    <div class="modal-content">
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" class="createSponsor">Create account</h4>
                            <button type="button" class="close" (click)="modal.close()" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form class="form" method="POST">
                                <label>Firstname</label>
                                    <input class="createSponsor" name="firstname"><br>
                                <label>Lastname</label>
                                    <input class="createSponsor" name="lastname"><br>
                                <label>Email</label>
                                    <input class="createSponsor"  name="email"><br>
                                <label>Password</label>
                                    <input class="createSponsor" name="password"><br>
                                <label>Phone</label>
                                    <input class="createSponsor"  name="phone"><br>
                                <label>Name</label>
                                    <input class="createSponsor"  name="role">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark">Update</button>
                        </div>
                    </ng-template>
                    </div>
                </div>
            </div>
            <button class="btn btn-success" (click)="openModal(content)" >Update</button>