<div class="error-page pd-20">
  <div class="pd-10">
    <div class="error-page-wrap text-center color-white">
      <h1 class="color-white weight-500">Error: 404 Page Not Found</h1>
      <img src="assets/images/404.png" alt="">
      <p>Sorry, the page you’re looking for cannot be accessed.<br>Either check the URL, <button class="btn btn-light" (click)="goHome()">go home</button>.</p>
    </div>
  </div>
</div>
