/* You can add global styles to this file, and also import other style files */
html {
  height: 100vh;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
.page {
  padding: 0;
  min-height: 100vh;
}
.page::after {
  content: "";
  background: url(assets/bicycle-1209682_1920.jpg);
  background-size: 100%;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #3b4151;
}
