<div class="container-fluid page">
  <div class="row no-gutters">
<div class="col-3 sidebar">
  <app-sidebar></app-sidebar>
</div>


<!--    SHOP TYPE CONTENT-->
    <div class="col-9 shop-type container">
      <button type="button" class="btn-light btn" (click)="refresh()"><i class="pi pi-replay"></i></button><h1>Types de boutiques / commerces</h1>
      <!--         message flash -> affiche les infos lors de la création d'un compte-->
      <ng-flash-message></ng-flash-message>

      <!--      FORMULAIRE DE CRÉATION D'UN TYPE DE BOUTIQUES-->
      <form class="form-inline justify-content-center align-self-center">
        <input class="form-control" name="name" type="text" [(ngModel)]="name" required>
        <!--            BUTTON DISABLED TANT QUE LE FORMULAIRE N'EST PAS VALIDÉ-->
        <button type="button" class="btn btn-success" (click)="addShop()">Ajouter un type de boutique</button>
      </form>


      <!--      LISTE DES TYPES DE SHOP-->
      <div class="listTypes mt-5">
        <div class="row">
          <p-card [style]="{width: '75%'}" styleClass="ui-card-shadow" *ngFor="let type of types" class="col-4 card-type ">
          <p-header>
            <img src="Card" src="assets/images/shop.png">
          </p-header>
              <input type="text" placeholder="{{type.name}}" #inputElement>
          <p-footer>
            <button pButton type="button" label="update" icon="pi pi-check" style="margin-right: .25em" class="btn btn-success" (click)="update(inputElement.value, type.id)"></button>
          </p-footer>
          </p-card>
        </div>
      </div>
    </div>
  </div>
</div>

