.error-page {
  width: 100%;
  height: auto;
  background-image: url(../../../../assets/images/error-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  padding-bottom: 8%;
  padding-top: 1%;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
