<div class="error-page">
  <div class="pd-10">
    <div class="error-page-wrap text-center color-white">
      <h1 class="color-white weight-500">Error: 403 Forbidden</h1>
      <img src="assets/images/403.png" alt="">
      <p>Sorry, access to this resource on the server is denied.<br>Either check the URL, <button class="btn btn-light" (click)="goLogin()">Login</button>.</p>
    </div>
  </div>
</div>
