<table class="table table-striped">
    <tr>
        <td><h6>{{ account.firstname }}</h6></td>
        <td><h6>{{ account.lastname }}</h6></td>
        <td><h6>{{ account.role }}</h6></td>
        <td><h6>{{ account.status }}</h6></td>
        <td>
            <button class="btn btn-danger">Delete</button>
            <!-- <button class="btn btn-warning" data-toggle="modal" data-target="#myModal" (click)="openDetail(account)" >Show</button> -->
            <app-account-detail-sponsor [account]="account"></app-account-detail-sponsor>
        </td>
    </tr>
</table>