<!-- Modal -->

                <ng-template #content let-modal id="modaleSponsor">
                    <div class="modal-header">
                        <h4 class="modal-title" id="showtitle" >{{modalTitle}}</h4>
                    </div>
                    <div class="modal-body">
<!--                          <p class="infoaccount">{{ account.firstname }}</p>-->
<!--                          <p class="infoaccount">{{ account.lastname }}</p>-->
<!--                          <p class="infoaccount">{{ account.email }}</p>-->
<!--                          <p class="infoaccount">{{ account.role }}</p>-->
<!--                          <p class="infoaccount">{{ account.status }}</p>-->
<!--                          <p class="infoaccount">{{ account.password }}</p>-->
<!--                          <p class="infoaccount">{{ account.phone }}</p>-->
<!--                          <p class="infoaccount">{{ account.address_id }}</p>-->
                      <form [formGroup]="sponsorForm" class="form-inline justify-content-center">
                        <input class="form-control" formControlName="firstname" name="firstname" type="text" placeholder="firstname">
                        <input class="form-control" formControlName="lastname" name="lastname" type="text" placeholder="lastname">
                        <input class="form-control" formControlName="email" name="email" type="text" placeholder="E-mail">
                        <input class="form-control" formControlName="role" name="role" type="text" >
                        <input class="form-control" formControlName="password" name="password" type="password" placeholder="Password">
                        <input class="form-control" formControlName="phone" name="phone" type="text" placeholder="Télephone">
                        <input class="form-control" formControlName="name" name="name" type="text" placeholder="Nom du Sponsor">

                      </form>
                      <!--                        todo -> voir inputs pour l'adresse !!! et Json a renvoyer pour create/update -->
                      <form [formGroup]="sponsorAddressForm" class="form-inline justify-content-center">
                        <input class="form-control" formControlName="address" name="address" type="text" placeholder="address">
                        <input class="form-control" formControlName="city" name="city" type="text" placeholder="city">
                        <input class="form-control" formControlName="zipcode" name="zipcode" type="text" placeholder="zipcode">
                      </form>
                      <div class = "row">
                        <button type="button" class="btn btn-custom-1" (click)="create(sponsorForm.value, sponsorAddressForm.value)" [hidden]="option">Créer un compte</button>
                        <button type="button" class="btn btn-custom-1" (click)="update(sponsorForm.value, sponsorAddressForm.value)" [hidden]="!option">Update compte</button>
                        <button type="button" class="btn btn-custom-1" (click)="blocked(account.id)" [hidden]="!option">Bloquer le compte</button>
                      </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-success" (click)="goGrats()" (click)="modal.close()">Liste des Gratifications</a>
<!--                        <app-account-update-sponsor [account]="account"></app-account-update-sponsor>-->
                        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal" (click)="modal.close()" >close</button>
                    </div>
                </ng-template>

<button id ="btnShowSponsor"name = "btnShow" class="btn btn-success" style="float: right;" (click)="openModal(content)">Show</button>
